$color-dark: #121620;
$color-light: #161b22;
$color-yellow: #ffa810;
$color-grey: #808080;

html{
  font-size: 16px;
}

#header{
  width: 100vw;
  position: fixed;
  box-shadow: 0 4px 10px -5px #191e29;

  .navbar-brand{
    width: 15%;

    img{
      width: 12vw;
      margin-bottom: -10px;
      @media only screen and (max-width: 765px){
        width: 20vw;
      }
    }
  }

  form{
    position: relative;
    top: auto;

    input, input:focus{
      outline: none;
      background-color: transparent;
      border: 0px;
      border-bottom: 2px solid $color-grey;
      width: 40vw;
      border-radius: 0px;
      box-shadow: none;
  
    }
  
    button{
      top: 0px;
      right: 10px;
      border: 0px;
      outline: none;
      color: $color-grey;
      position: absolute;
      background-color: transparent;
    }
  }

  .toggle-icon{
    button{
      top: 20px;
      right: 20px;
      border: 0px;
      outline: none;
      color: $color-grey;
      background-color: transparent;
    }
  }

  #collapse-1{
    position: absolute;
    top: 80px;
    width: 100vw;
    
    form{
      margin: auto;
      width: 80vw;
      background-color: $color-dark;
      border-radius: 3px;
      box-shadow: 0 4px 10px -5px #191e29;
      border: 2px solid $color-grey;

      input, input:focus{
        border: 0px;
        box-shadow: none;
        color: $color-grey;
        padding: 0 10px;
      }
    }
  }
}